@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

body {
    font-family: 'Luckiest Guy', cursive;
    background: linear-gradient(to bottom, #ff1818,#2f20f7 );
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}

.box {
    background: #000000d0;
    color: white;
    padding: 2rem;
    border-radius: 20px;
    width: 100%;
    max-width: 420px;
    margin: 1rem;
    
}

.search {
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    font-size: 30px;
    margin: 1rem;
    border-radius: 50%;
    border: none;
    width: 5rem;
    height: 3rem;
    outline: none;
    background: #7c7c7c2b;
    color: white;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

button:hover {
    background: #7c7c7c6b;
}

.search_bar {
    border: none;
    outline: none; 
    padding: 1rem;
    border-radius: 20px;
    background: #7c7c7c2b;
    color: white;
    font-size: 120%;
}

.weather {
    font-size: 120%;
}

.temp {
    margin-top: 20px;
    font-size: 180%;
}

.flex {
    display: flex;
    align-items: center;
}

.weather .loading {
    visibility: hidden;
    max-height: 20px;
    position: relative;
}

.weather .loading:after{
    visibility: visible;
    content: "Loading......";
    color: white;
    position: absolute;
    top: 0%;
}